---
import GitHub from "./icons/GitHub.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import html from "./icons/html.astro";
import JavaScript from "./icons/JavaScript.astro";
import AstroI from "./icons/AstroI.astro";
import CSS from "./icons/CSS.astro";
import Python from "./icons/Python.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-orange-500 text-white",
    icon: html,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-500 text-white",
    icon: JavaScript,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-orange-800 text-white",
    icon: AstroI,
  },
  CSS: {
    name: "CSS",
    class: "bg-sky-500 text-white",
    icon: CSS,
  },
  PYTHON: {
    name: "Python",
    class: "bg-sky-950 text-white",
    icon: Python,
  },
};
const PROJECTS = [
  {
    title: "GALERIA DE LINKS",
    description:
      "landing page de una galeria de links, con un diseño minimalista, moderno, diseño responsivo y accesible para todos los usuarios en donde expongo todos los enlaces a mis redes sociales.",
    link: "https://links.sylenthmen.site/",
    github: "https://github.com/SylenthMen/LinksCollection",
    image: "/prj6.webp",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.ASTRO],
  },
  {
    title: "CONSULTORÍA PROGESTIÓN B&S ASOCIADOS",
    description:
      "Sitio web de la consultora ProGestión B&S Asociados, especializada en la gestión de proyectos de inversión y asesoría en la gestión de la calidad.",
    link: "https://consultora-pro-gestion-bys-asociados.vercel.app/",
    github: "https://github.com/SylenthMen/consultora-proGestion-bys-asociados",
    image: "/prj4.webp",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.ASTRO],
  },
  {
    title: "Chatea con un PDF",
    description:
      "Sitio web que permite a los usuarios subir un archivo PDF y extraer el texto del documento para ser utilizado en un chatbot.",
    link: "https://chateapdf.sylenthmen.site/",
    github: "https://github.com/SylenthMen/Landing-ChatPDf",
    image: "/prj5.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.PYTHON],
  },
  {
    title: "Skull Island Records - Record Label",
    description:
      "Sitio web de la discográfica Skull Island Records, especializada en la producción y distribución de música electrónica.",
    link: "https://skullislandrecords.sylenthmen.site",
    github: "https://github.com/SylenthMen/SIR",
    image: "/prj3.webp",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.ASTRO],
  },
  {
    title: "Lic Citlali Santiago - Fisioterapeuta",
    description:
      "Sitio web de la fisioterapeuta Lic. Citlali Santiago, especializada en la rehabilitación de lesiones, terapia física y divulgacion de contenido acerca de la fisioterapia.",
    link: "https://liccitlali.netlify.app/",
    image: "/prj2.webp",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT, TAGS.ASTRO],
  },
  {
    title: "sylenthmen Dj Producer",
    description:
      "Pagina principal del Dj y Productor de música electrónica sylenthmen, con información acerca de su música, eventos, contacto y redes sociales.",
    link: "https://sylenthmen.site/",
    github: "https://github.com/SylenthMen/sylenthmen1.1",
    image: "/prj1.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
